.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.dot {
  fill: green;
}

.dot:hover {
  fill: black;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.txt {
  fill: white;
  font: 10px sans-serif;
}